.titlesTagsWrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint) {
        flex-direction: row;
    }

    .titlesWrapper {
        h1 {
            color: $primary-color;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 5px;

            @media (min-width: $breakpoint) {
                font-size: 36px;
            }
        }

        h2 {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;

            @media (min-width: $breakpoint) {
                font-size: 18px;
            }
        }
    }
}

.collapsesWrapper {
    width: 100%;

    @media (min-width: $breakpoint) {
        display: flex;
        gap : 6%;
    }
    
    ul {
        padding-left: 0;
    }
    
    li {
        list-style: none;
    }

    .collapses {
        width: 100%;
    }
    
}