.collapsesWrapper {
    width: 100%;

    @media (min-width: $breakpoint) {
        display: flex;
        gap : 6%;
    }
    
    ul {
        padding-left: 0;
    }
    
    li {
        list-style: none;
    }

    .collapses {
        width: 100%;
    }

    .collapseDescription {
        @media (min-width: $breakpoint) {
            margin-bottom: 30px;
        }
    }
}