@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

body {
  max-width: 1440px;
  margin: auto;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 22px;
}
@media (min-width: 769px) {
  .contentWrapper {
    margin: 0 100px;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 20px;
  margin-bottom: 27px;
}
@media (min-width: 768px) {
  .gallery {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5% 1%;
    margin: 45px 0;
    gap: 50px;
    background-color: #f7f7f7;
    border-radius: 25px;
  }
}

@media (min-width: 768px) {
  .about-collapses {
    margin: 16px 0 8px 0;
  }
}

.authorInfoWrapper {
  width: 100%;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .authorInfoWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
}
.authorInfoWrapper .titlesTagsWrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .authorInfoWrapper .titlesTagsWrapper {
    width: 80%;
  }
}
.authorInfoWrapper .titlesTagsWrapper .titlesWrapper h1 {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .authorInfoWrapper .titlesTagsWrapper .titlesWrapper h1 {
    font-size: 36px;
  }
}
.authorInfoWrapper .titlesTagsWrapper .titlesWrapper h2 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .authorInfoWrapper .titlesTagsWrapper .titlesWrapper h2 {
    font-size: 18px;
  }
}
.authorInfoWrapper .titlesTagsWrapper .tagsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 16px;
}
.authorInfoWrapper .ratingAuthorWrapper {
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .authorInfoWrapper .ratingAuthorWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
    margin-bottom: 0;
    gap: 3px;
  }
}

.collapsesWrapper {
  width: 100%;
}
@media (min-width: 768px) {
  .collapsesWrapper {
    display: flex;
    gap: 6%;
  }
}
.collapsesWrapper ul {
  padding-left: 0;
}
.collapsesWrapper li {
  list-style: none;
}
.collapsesWrapper .collapses {
  width: 100%;
}

.errorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 113px;
  padding: 94px 0 113px 0;
}
@media (min-width: 768px) {
  .errorWrapper {
    gap: 139px;
    padding: 120px 0 139px 0;
  }
}
.errorWrapper__404 {
  font-size: 96px;
  font-weight: 700;
  color: #ff6060;
}
@media (min-width: 768px) {
  .errorWrapper__404 {
    font-size: 288px;
  }
}
.errorWrapper__text {
  color: #ff6060;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  word-break: break-word;
}
@media (min-width: 768px) {
  .errorWrapper__text {
    font-size: 36px;
  }
}
.errorWrapper__link {
  color: #000;
  font-weight: 500;
  font-size: 14px;
}
@media (min-width: 768px) {
  .errorWrapper__link {
    font-size: 18px;
  }
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}
@media (min-width: 768px) {
  .headerWrapper {
    margin: 45px 95px 0px 95px;
  }
}
.headerWrapper__fig {
  margin: 0;
  width: 9rem;
}
@media (min-width: 768px) {
  .headerWrapper__fig {
    width: 13rem;
  }
}
.headerWrapper__fig img {
  width: 100%;
}

.headerNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
}
.headerNav__link {
  font-size: 12px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  padding-left: 1.63rem;
}
@media (min-width: 768px) {
  .headerNav__link {
    font-size: 24px;
    text-transform: capitalize;
    padding-left: 3.6rem;
  }
}
.headerNav__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}

.authorWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .authorWrapper {
    margin-bottom: 21px;
  }
}
.authorWrapper__title {
  color: #ff6060;
  font-size: 12px;
  font-weight: 500;
  width: 63px;
  text-align: right;
}
@media (min-width: 768px) {
  .authorWrapper__title {
    font-size: 18px;
  }
}
.authorWrapper__picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .authorWrapper__picture {
    width: 64px;
    height: 64px;
  }
}

.bannerWrapper {
  position: relative;
  width: 100%;
  min-width: 335px;
  height: 111px;
  margin: 0 22px 22px 22px;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .bannerWrapper {
    margin: 50px 22px 22px 22px;
    height: 223px;
  }
}
.bannerWrapper__title {
  position: absolute;
  left: 16px;
  top: 25px;
  width: 225px;
  font-size: 24px;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .bannerWrapper__title {
    width: 100%;
    font-size: 24px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .bannerWrapper__title {
    font-size: 48px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.bannerWrapper__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.home-banner {
  background-image: url("../assets/bg_banner_home.png");
}

.about-banner {
  background-image: url("../assets/bg_banner_about.png");
}

.home-banner, .about-banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
}

.card {
  position: relative;
  display: flex;
  width: 335px;
  height: 255px;
  background-color: #ff6060;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .card {
    width: 340px;
    height: 340px;
  }
}
.card__title {
  position: absolute;
  left: 19px;
  bottom: 15px;
  z-index: 2;
  color: #FFFFFF;
  font-size: 18px;
  background-color: rgba(255, 96, 96, 0.7);
  padding: 2px 5px;
  border-radius: 10px;
  margin-right: 20px;
}
.card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.collapseWrapper {
  margin-bottom: 20px;
  width: 100%;
  background: #f7f7f7;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .collapseWrapper {
    margin-bottom: 30px;
    max-width: 1023px;
  }
}
.collapseWrapper__visible {
  background: #ff6060;
  width: 100%;
  height: 30px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
}
@media (min-width: 768px) {
  .collapseWrapper__visible {
    height: 52px;
  }
}
.collapseWrapper__visible h2 {
  padding: 15px 0;
  font-size: 13px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .collapseWrapper__visible h2 {
    font-size: 24px;
  }
}
.collapseWrapper__visible img {
  width: 20px;
  transform: rotate(-180deg);
  transition: transform 0.5s ease-in-out;
}
@media (min-width: 768px) {
  .collapseWrapper__visible img {
    width: 32px;
  }
}
.collapseWrapper__visible .active {
  transform: rotate(0deg);
}
.collapseWrapper__toggle {
  height: 0px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, height 0.3s 0.3s ease-in-out;
  color: #000;
}
@media (min-width: 768px) {
  .collapseWrapper__toggle {
    font-size: 18px;
  }
}
.collapseWrapper__toggle p {
  margin: 0;
  padding: 22px 20px;
  pointer-events: none;
  line-height: 1.3;
}
.collapseWrapper .animated {
  opacity: 1;
  transition: height 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out;
}

.tagWrapper {
  font-size: 10px;
  font-weight: 500;
  background: #ff6060;
  color: #FFFFFF;
  margin-top: 2%;
  height: 18px;
  border-radius: 5px;
  padding: 3px 10px 0 10px;
}
@media (min-width: 768px) {
  .tagWrapper {
    height: 25px;
    font-size: 14px;
    font-weight: 700;
  }
}

.footerWrapper {
  width: 100%;
  margin: 0;
  padding: 66px 120px 58px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
@media (min-width: 768px) {
  .footerWrapper {
    padding-bottom: 29px;
  }
}
.footerWrapper__fig {
  width: 7.62rem;
  margin: 0;
}
.footerWrapper__fig img {
  width: 100%;
}
.footerWrapper__copyright {
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  margin: 0;
}
@media (min-width: 768px) {
  .footerWrapper__copyright {
    font-size: 24px;
    padding: 28px 10px 0 10px;
  }
}/*# sourceMappingURL=main.css.map */